/* CSS reset */
* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 1;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

/* Logo and Images */
#logo {
  margin: 4px 10px;
}
#logo img {
  margin: 2px 8px;
  height: 150px;
}

/* Navigation bar : List styling */
#navbar ul {
  display: flex;
  font-family: "Baloo Bhaina 2", cursive;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  display: block;
  padding: 2px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 40px;
  height: 550px;
}
#home::before {
  content: "";
  background: url(../bg1.jpg) no-repeat center center/cover;
  position: absolute;
  height: 671px;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}
#home h1 {
  color: black;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
#home p {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  font-family: "PT Sans", sans-serif;
}

/* Services Section */
#services-container {
  margin-top: 57px;
}
#services {
  display: flex;
  margin: 34px;
}
#services .box {
  border: 2px solid red;
  padding: 5px;
  margin: 2px 8px;
  border-radius: 24px;
  background: #efeaea;
  margin-bottom: 30px;
}
#services .box img {
  display: block;
  margin: auto;
  height: 120px;
}
#services .box p {
  font-family: "PT Sans", sans-serif;
}

/* Clients Section */
#client-section {
  position: relative;
}
#client-section::before {
  content: "";
  position: absolute;
  background: url("../bg.jpg");
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.client-item {
  padding: 34px;
}
#clients img {
  height: 6rem;
}

/* Contact Section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url('../contactUs.jpg') no-repeat center center/cover;
}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box form{
  width: 40%;
}
#contact-box .form-group{
  padding: 2px;
}
#contact-box label{
  font-size: 1.2rem;
  font-family: "PT Sans", sans-serif;
}
#contact-box input,textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1rem;
}
#form-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer{
  background: black;
  color: white;
  padding: 10px 20px;
}

/* Utility Classes */
.h-primary {
  font-size: 2.5rem;
  padding: 12px;
  font-family: "PT Sans", sans-serif;
}
.h-secondary {
  font-size: 2rem;
  padding: 12px;
  font-family: "PT Sans", sans-serif;
}
.btn {
  padding: 6px 10px;
  border: 1px solid black;
  background-color: rgb(206, 116, 116);
  margin: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.center {
  text-align: center;
}
